# linux
pylint
ultralytics
opencv-python
pyyaml
matplotlib
numpy
fpdf2
tqdm
pandas
streamlit
Pillow

# Windows
# from linux instalation
#   pip uninstall onnxruntime torch torchvision
pylint
ultralytics
opencv-python
pyyaml
matplotlib
numpy
fpdf2
tqdm
pandas
streamlit
Pillow
onnxruntime-directml
